.list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	gap: 5px;

	.prevButton {
		margin-left: 20px;
	}

	.nextButton {
		margin-right: 20px;
	}

	.link {
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 17px;
		border-radius: 5px;
		font-size: 12px;

		&:hover {
			background-color: rgb(139, 139, 139);
		}

		& .disabled {
			color: gray;
			pointer-events: none;
			cursor: default;
		}
	}

	.active {
		background-color: rgba(129, 97, 243, 0.851);
	}
}
