.list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;

	.link {
		width: fit-content;
		max-height: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 20px 20px;
		margin-right: 5px;
		border-radius: 5px;
		font-size: 12px;

		&:hover {
			background-color: rgb(139, 139, 139);
		}

		&.disabled {
			color: gray;
			pointer-events: none;
			cursor: default;
		}
	}

	.active {
		background-color: rgba(235, 133, 43, 0.851);
	}
}
